{% extends "scheduler/layout.html" %}
{% load static %}


{%block body%}
<section class="home">
  <div class="home-img">
    <img src="{% static 'scheduler/Writing.png' %}" alt="main-image">
  </div>
  <div class="home-content">
    <h1>Hi, It's <span>Alex</span></h1>
    <h3 class="typing-text">I'm a <span></span></h3>
    <p>lorem impusefanf aojd naj djas djlsa djls adjla sjdl ajl d</p>
    <div class="social-icons">
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  <a href="#" class="btn">Hire me</a>
  </div>
</section>
{% endblock %}
